* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.logo{
    flex: 1;

}
.menu{
    flex: 3;
    display: flex;
}
.menu > li{
    padding: 0 12px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility:visible ;
    top: 30px;
}
.sub-menu{
    position: absolute;
    width: 250px;
    border: 1px solid black;
    padding: 10px 0 10px 20px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
}
.sub-menu li a{
    font-weight: normal;
    font-size: 17px!important;
}
.sud-menu ul{
    padding-left: 20px;
    
}
.menu > li > a{
    font-size: 17px;
    font-weight: bold!important;
    display: block;
    line-height: 20px;
}
.orthers{
    flex: 1;
    display: flex;
}
.orthers > li{
    padding: 0 12px;
    
}
.orthers > li:first-child{
    position: relative;
}
.orthers > li:first-child input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
}
.orthers > li:first-child i{
    position: absolute;
    right: 10px;
}